#contacts {
    display: none!important;
    min-height: 50vh;
}

#contacts img {
    height: 2rem!important;
    width: auto;
}
.z-1000 {
    z-index: 1000;
}

#contacts.on__active {
    display: flex!important;
}

@media (min-width: 238px) {
    .tg-flex {display: block!important;}
}

@media (min-width: 1232px) {
    .tg-flex {display: flex!important;}
    .obj-fit img {
        border-radius: 10px;
        object-fit: cover;
        width: 24vw;
        height: auto;
    }
}